/* log-in/out-page */

form {
  margin: auto;
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

body {
  align-items: center;
  margin: auto;
  width: 50%;
  height: 70%;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}

button {
  position: relative;
  width: 100%;
  background-color: #4caf50;
  color: white;
  font-size: 14px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search_button {
  /* position: relative; */
  left: 8px;
  max-width: 20%;
  /* background-color: #4caf50; */
  color: white;
  font-size: 14px;
  /* padding: 12px 20px; */
  /* border: none; */
  /* border-radius: 4px; */
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 8px;
}

button#logout {
  width: 30%;
  float: right;
}

/* To-do-list */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-warper {
  padding: 0;
  margin-top: 4vh;
  height: 90vh;
  width: 120vh;
  position: center;
  background: #066acd;
  border-radius: 20px;
  overflow:auto;
}
.container {
  width: 40%;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 10px;
  width: 35%;
  position: absolute;
  height: 70%;
  transform: translate(-50%, -50%);
  overflow:auto;
}

#search{
  display: flex;
  /* position:relative; */
  flex-direction: row;
  padding-left: 9%;
  padding-top: 11%;
  max-width: 90%; 
  border-radius: 10px;
  border: none;
}

#newtask{
  position: relative;
  padding: 30px 20px;
}
#newtask input {
  width: 75%;
  height: 45px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}

#newtask input:focus {
  outline: none;
  border-color: #0d75ec;
}
#newtask button {
  position: relative;
  float: right;
  font-weight: 500;
  font-size: 16px;
  background-color: #0d75ec;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
#tasks {
  border-radius: 10px;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 10px;
}

.task {
  display: flex;
  border-radius: 5px;
  align-items: center;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #c5e1e6;
  min-height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
}
.task span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  max-width: 70%;
}
.task button{
  position: absolute;
  background-color: #6583e5;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;

  width: 40px;
  border-radius: 5px;
}

.task button.delete{
  right: 25px;
}

.task button.edit{
  right: 75px;
}

.task button i{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.edit-container{
  width: 40%;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 10px;
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  transform: translate(-50%, -50%);
}
/* * > * {background: rgba(0, 0, 0, 0.5);} */
